<div class="row">
	<div class="col-md-offset-4 col-md-4">
		<h1 class="text-center">Black Jack</h1>
	</div>
</div>

<div class="row">
	<div class="col-md-offset-2 col-md-8">
		<form method="POST" name="user" ng-submit="submit($event)">

		  <div class="form-group">
		    <label class="control-label" for="pseudo">Pseudo</label>
		    <input ng-model="player.pseudo" type="text" class="form-control" name="user.pseudo" id="pseudo" placeholder="Pseudo" required>
		  </div>

		  <button type="submit" class="btn btn-default" ng-disabled="!user.$valid">Jouer</button>
		</form>
	</div>
</div>